*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
        background-image: linear-gradient(
        rgb(31, 187, 52)30%,
        rgb(31, 161, 187)
    );

}
.slider-carosal{
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    color: #021e6c;
    font-family:'Times New Roman', Times, serif ;
}

.slider-container{
    max-width: 2200px;
    width:60%;
    margin-top: 60px;
    border-radius: 50px;
    background-color: #bdbbbb;
    padding: 50px 0; 
    position:relative;
    background-image: linear-gradient(
        rgb(10, 210, 153)30%,
        rgb(31, 49, 187)

    );
}
.card-wrapper{
    width: 70%;
}
.slider-content{
    margin: 0 40px;
}
.card{
    border-radius: 25px;
    
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 10px 14px;
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px;
}
.overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
    background-color: #78f226;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0%;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:#78f226;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width:150px;
    background-color: #fff;
    border-radius: 50%;
    padding:0px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    align-content: center;
    border-radius: 50%;
    border: 4px solid rgb(2, 163, 5);
    
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #707070;
    margin: 0%;
    
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding:  8px 16px;
    background-color: #78f226;
    border-radius: 6px;
    margin: 14px;
    transition: all 0.3 ease;
}
.button:hover{
    background-color: #4ab106;
}
.swiper-button{
    background-color: #78f226;
}